$body-color: yellow;

html, body {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    max-width: 1200px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    background: $body-color;
    user-select: none;
    display: grid;
    grid-template-rows: 2.5em auto 2.5em;
    grid-gap: 0.25em;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
    background: pink;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: green;
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}


main {
    grid-area: main;
    background: blue;
}

footer {
    grid-area: footer;
    background: orange;
}
