@import './colors.scss';

$max-width: 1024px;
$tablet-width: 768px;
$min-width: 320px;

html {
    background: $color-primary-4;
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    font-family: sans-serif;
    font-size: large;
    grid-gap: 0.5em;
    grid-template-areas:
        'header main'
        'footer main';
    grid-template-columns: 10em auto;
    grid-template-rows: auto 2.5em;
    height: 97vh;
    margin: 1vh auto;
    max-width: $max-width;
    min-width: $min-width;
    width: 100%;
}

@media (max-width: $tablet-width) {
    body {
        align-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        justify-content: flex-start;
        margin: 0 auto;
    }
}

header {
    display: flex;
    flex-direction: column;
    grid-area: header;
    height: min-content;
    margin: 0 0 0 0.25em;
    user-select: none;
    input#nav {
        display: none;
    }
    label#nav_label {
        display: none;
    }
    a#yellowfruit {
        background: $color-primary-1;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
        font-size: xx-large;
        margin-bottom: 0.25em;
        text-align: center;
        text-decoration: none;
    }
    nav {
        align-items: flex-start;
        background: $color-primary-1;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: min-content;
        justify-content: flex-start;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding: 0.5em;
                a {
                    color: black;
                    text-align: center;
                    text-decoration: none;
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet-width) {
    header {
        background: $color-primary-1;
        box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
        display: grid;
        grid-template-areas:
            'menu logo'
            'subnav subnav';
        grid-template-columns: 15vw auto;
        grid-template-rows: 2.5em auto;
        margin: 0;
        padding: 0;
        width: 100%;
        label#nav_label {
            cursor: pointer;
            display: block;
            font-size: 2em;
            grid-area: menu;
            padding: 0 0.25em;
            width: 1em;
            &:hover {
                background: $color-primary-4;
            }
        }
        a#yellowfruit {
            grid-area: logo;
            background: none;
            box-shadow: none;
            margin: 0;
        }
        input#nav + label#nav_label ~ nav {
            display: none;
        }
        input#nav:checked + label#nav_label ~ nav {
            display: block;
        }
        nav {
            align-items: center;
            background: none;
            box-shadow: none;
            grid-area: subnav;
            height: min-content;
            padding: 0;
        }
    }
}


main {
    background: $color-primary-1;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    grid-area: main;
    height: min-content;
    margin-right: 0.25em;
    &:empty {
        display: none;
    }
    > * {
        background: $color-primary-2;
        border: 0.25em solid $color-dark-primary-4;
        border-radius: 3px;
        margin: 0.5em;
        height: min-content;
        padding: 0.5em;
    }
}

@media (max-width: $tablet-width) {
    main {
        margin-right: 0;
        width: 100%;
    }
}

section {
    background: $color-primary-2;
    border: 0.25em solid $color-dark-primary-4;
    border-radius: 3px;
    margin: 0.5em;
    height: min-content;
    padding: 0.5em;
    &:empty {
        display: none;
    }
}

footer {
    align-content: center;
    align-items: center;
    background: $color-primary-1;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    display: flex;
    font-size: small;
    grid-area: footer;
    justify-content: space-evenly;
    margin: 0 0 0 0.25em;
    user-select: none;
    width: 100%;
    a {
        color: black;
        text-align: center;
        text-decoration: none;
        width: 100%;
        &:hover,:active {
            font-weight: bold;
        }
    }
}

@media (max-width: $tablet-width) {
    footer {
        margin: 0;
    }
}
