// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=51T0u0kiCFn8GVde7NVmtwSqXtg */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FFFF6B;	// Main Primary color */
$color-primary-1: #FFFFBA;
$color-primary-2: #FFFF8F;
$color-primary-3: #FFFF4C;
$color-primary-4: #E9E925;

$color-dark-primary-2: darken($color-primary-2, 20%);
$color-dark-primary-4: darken($color-primary-4, 20%);
